#jewelContainer {
  background-color: #3b5998;
}
.fbPlaceFlyout div{
  background: white;
}

.fbFeedTicker {
  background: transparent;
  border-width: 0px;
}
.uiBoxWhite, .uiSideHeader, .groupProfileHeaderWash {
  background-color: transparent;
}
.ego_column {
  padding: 5px;
}

#chromeFacebookbackground {
	height: 100%;
	width: 100%;
	position: fixed;
}

#navSearch .uiSearchInput {
	border-top: none;
}

#pageNav .navItem a.targetAfter:after, #contentCurve {
	display: none;
}

#footerContainer {
	border-top: none !important;
}